body {
    background-color: #000000;
    margin: 0;
    font-family: 'Noto Serif JP', serif !important;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */
}

html {
    font-size: 62.5%;
    /* 16px = 10px*/
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(0, 0, 0);
    padding-bottom: 2em;
}

main {
    background-color: rgb(0, 0, 0);

}

footer {
    height: 30em;
    background-color: rgb(12, 12, 12);
    color: rgb(215, 215, 215);
    /* margin-top: -1em; */ /* remove white gap between main and footer*/

}

picture img {
    width: 100%;
}



.test {
    width: 250px !important;
    height: 400px !important;
    object-fit: cover;
    background-repeat: no-repeat;
    grid-area: imgArea;
}


/* wrappers */
.login-wrapper {
    padding: 8em 0 15em 0;
}

.wrapper {
    padding: 8em 15em 15em 15em;

}



/* boxes */

.box-one {
    display: grid;
    margin: auto;
    grid-template-areas:
        'one . .'
        'two two three';
    color: rgb(193, 193, 193);
    font-family: 'El Messiri', sans-serif;
    grid-gap: 3rem;
    padding-block: 1em;
    width: min(95%, 75rem);
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding-bottom: 10em;
}

.grid-box-one:nth-child(1) {
    grid-area: one;
}

.grid-box-one:nth-child(2) {
    grid-area: two;
}

.grid-box-one:nth-child(3) {
    grid-area: three;
}

.box-one h1 {
    font-size: 5em;
}

.box-one p {
    padding-top: 2em;
}











.box-posts-info {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin-bottom: 5em;
    color: white;
    width: 40%;
    margin: auto;
}




.box-films {
    display: grid;
    margin: auto;
    grid-template-areas:
        'one . . .'
        'two three . four';
    color: #c1c1c1;
    font-family: 'El Messiri', sans-serif;
    grid-gap: 3rem;
    padding-block: 1em;
    width: min(95%, 75rem);
    grid-template-columns: 1fr 2fr 2fr 0.5fr;
    width: 100%;
    padding-bottom: 8em;
}

.grid-box-films:nth-child(1) {
    grid-area: one;
}

.grid-box-films:nth-child(2) {
    grid-area: two;
}

.grid-box-films:nth-child(3) {
    grid-area: three;
}

.grid-box-films:nth-child(4) {
    grid-area: four;
}

.box-films h1 {
    font-size: 5em;
}

.box-films p {
    padding-top: 2em;
}






/* nav */
/* 
.topnav {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding: 4em 0 1em 0;
}

.left-menu,
.right-menu {
    padding-top: 1.6em;
}

.left-menu {
    padding-left: 3em;
}

.logo {
    color: #be0909;
    text-shadow: 1px 1px 10px #be0909, 1px 1px 4px #be0909;
    font-size: 2.5em;
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
}

.topnav a {
    color: rgb(159, 159, 159);
    font-size: 1.2em;
    padding: 1em;
}

.topnav a:hover {
    color: rgb(225, 225, 225);
    text-decoration: none;
    transition: 0.8s ease;
} */








/* index */
.read-btn {
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    border: 1px solid#be0909;

}

.read-btn:focus {
    outline: none;
}

.read-btn:hover {
    transition: 0.3s ease;
    background-color: #d40000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}

.link {
    color: #c1c1c1 !important;
}

.link:hover {
    color: #f2f2f2 !important;
}



/* films, series, documenataries */
.grid-box-films h1 {
    font-size: 5em;
}


/* create post */

.box-posts {
    display: grid;
    grid:
        'imgArea titleArea  '
        'imgArea mediaArea  '
        'imgArea commentArea '
        'imgArea usernameArea  '
        'imgArea .  '
        'imgArea btnArea ';

    column-gap: 3em;
    margin-top: 5em !important;
    margin-bottom: 7em !important;
    color: white;
    width: 80%;
    max-width: 100em;
    margin: auto;

}

.box-posts h1 {
    font-size: 3em;
    color: rgb(183, 183, 183);
    font-weight: 700;
}

.box-posts p {
    font-size: 1.4em;
    color: rgb(183, 183, 183);
}

.post-image {
    width: 250px;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    grid-area: imgArea;
    border: 0.2px solid rgb(123, 123, 123);
}

.post-title {
    grid-area: titleArea;
}

.post-media {
    grid-area: mediaArea;
}

.post-comment {
    grid-area: commentArea;
}

.post-btn {
    grid-area: btnArea;
}

.post-username {
    grid-area: usernameArea;
    font-size: 1.2em !important;
    color: rgb(129, 129, 129) !important;
}
.sticky-createpost{
    background-color: rgb(42, 42, 42);
    padding: 0 1.2em;
    font-size: 1.5em;
    font-weight: 700;
    z-index: 2;
    bottom:6em;
    right:0.5em;
    position: fixed;
    text-align: center;
    line-height: 4em;
    height: 4em;
}
.sticky-createpost span{
    color:rgb(215, 215, 215);
}
.sticky-createpost:hover{
    background-color: rgb(56, 56, 56);
    transition: 0.3s ease;
    color:rgb(241, 241, 241);
    text-decoration: none;

}
.sticky-createpost span:hover{
    color:rgb(233, 233, 233);
    text-decoration: none;
}





/* my posts ( includes delete and edit btn ) */

.box-my-posts {
    display: grid;
    grid:
        'imgArea titleArea  '
        'imgArea mediaArea  '
        'imgArea commentArea '
        'imgArea usernameArea  '
        'imgArea .  '
        'imgArea btnArea ';

    column-gap: 3em;
    margin-top: 5em !important;
    margin-bottom: 7em !important;
    color: white;
    width: 80%;
    max-width: 100em;
    margin: auto;
}

.box-my-posts h1 {
    font-size: 3em;
    color: rgb(183, 183, 183);
    font-weight: 700;
}

.box-my-posts p {
    font-size: 1.4em;
    color: rgb(183, 183, 183);
}



.delete-btn {
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid#be0909;
    width: 12em;

}

.delete-btn:focus {
    outline: none;
}

.delete-btn:hover {
    transition: 0.3s ease;
    background-color: #d40000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}

.edit-btn {
    background-color: #efefef;
    color: #000000;
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #efefef;
    width: 12em;
}

.edit-btn:focus {
    outline: none;
}

.edit-btn:hover {
    transition: 0.3s ease;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
}





/* messeges / alerts */

.message {
    font-size: 1.4em;
    list-style-type: none;
    color: white;
}

.error {
    color: rgb(255, 46, 46);
}

.success {
    color: green;
}





/* login form */

.form {
    margin: auto !important;
    width: 40%;
    background-color: #000000;
    border-radius: 15px;
    padding: 5em;
    box-shadow: 2px 2px 30px 1px rgb(190, 9, 9, 0.2), 1px 1px 20px rgb(190, 9, 9, 0.5)
}

.input-form {
    font-size: 1.2em;
    padding: 0.4em 0.4em;
    width: 100%;
}

.form label {
    font-size: 1.4em;
    margin-top: 0.5em;
    color: white;
    width: 100%;
}

.login-btn {
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    font-weight: 500;
    padding: 0.3em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.login-btn:focus {
    outline: none;
}

.login-btn:hover {
    transition: 0.5s ease;
    background-color: #d40000;
    /* border: 2px solid black; */
    border-radius: 2px;
    box-shadow: none;
}

.title {
    margin-bottom: 1em;
    color: white;
    font-weight: 600;
}

.subtitle {
    margin-bottom: 1em;
    margin-top: 2em;
    color: white;
}

.link {
    text-decoration: underline;
    color: rgb(70, 150, 255);
}








/* createpost  */

.select-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.form-createpost {
    margin: auto !important;
    max-width: 75em;
    background-color: #000000;
    padding: 5em;
}

.form-createpost label {
    font-size: 1.4em;
    margin-top: 0.5em;
    color: white;
    width: 100%;
}

.form-createpost select {
    font-size: 1.2em;
    width: 13em;
    height: 2.5em;
}

.year {
    width: 14em !important;
}

/* select */

.select-genre {
    background-color: #0f0000;
    color: rgb(225, 225, 225);
    font-size: 1.6em;
    margin-top: 1em;
    padding: 0.1em 0.2em;
}




/* info post */
.info-post {
    margin: auto;

}

/* profile */

.profile-wrapper {
    width: 80%;
    margin: auto;
    max-width: 75em;
    color: rgb(206, 206, 206);
    display: flex;
    column-gap: 5em;
}

.profile-wrapper span {
    font-weight: 900;
    color: white;
}

.profile-info {
    padding-top: 7em;
}

.profile-picture {
    height: 150px !important;
    width: 150px !important;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
    background-repeat: no-repeat;
    grid-area: imgArea;
    margin-top: 2.5em;
}

.profile-wrapper h1 {
    font-size: 3.2em;
    color: white;
}

.profile-wrapper h2 {
    font-size: 1.4em;
}

.profile-wrapper p {
    font-size: 1.4em;
}

.hr {
    border: 0.5px solid white !important;
    margin: 5em 0;
}





/* topplista */


/* #visits{
    display:block;
} */


.visit-info-box,
.posts-info-box {
    border-collapse: collapse;
    margin: auto;
}

.visit-info-box tr,
.posts-info-box tr {
    background-color: #000000;
    color: white;

}

.visit-info-box th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #121212;
    border: 0.5px solid #505050; */
    color: white;
    padding: 8px;
    font-size: 1.4em;
    font-weight: 700;

}

.posts-info-box th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #121212;
    border: 0.5px solid #505050; */
    color: white;
    padding: 8px;
    font-size: 1.4em;
    font-weight: 700;
}

.visit-info-box td,
.posts-info-box td {
    border-bottom: 0.5px solid #505050;
    padding: 8px;
    font-size: 1.4em;
    font-weight: 200;

}

.visit-info-box td a,
.posts-info-box td a {
    color: white;
    text-decoration: underline;
}

.visit-info-box td a:hover,
.posts-info-box td a:hover {
    color: rgb(209, 209, 209);
    text-decoration: underline;
}

.toplist-btn-wrapper {

    margin: auto;
}

.toplist-btn {
    margin: auto;
    padding: 0.5em 1em;
    font-size: 1.4em;
    background-color: #121212;
    color: rgb(255, 255, 255);
}

.toplist-btn:hover {
    margin: auto;
    padding: 0.5em 1em;
    background-color: #303030;
    color: rgb(255, 255, 255);
}

.toplist-btn:focus {
    outline: none;
}

/* .visit{
    border-top: 0.5px solid #505050;
    border-bottom: 0.5px solid #505050;
    border-left:0.5px solid #505050;
}
.posts{
    border-top: 0.5px solid #505050;
    border-bottom: 0.5px solid #505050;
    border-left:0.5px solid #505050;
} */





/* cookie */
/* .cookie-wrapper{
    background-color: #0d0d0d;
    border-top: 0.5px solid rgb(183, 183, 183);
    color:white;
    height: 50vh;
    width: 100%;
    position: sticky;
    z-index: 2;
    bottom:0;
    right:0;
    display: flex;
    column-gap: 5em;
    text-align: center;
    padding-top: 5em;
    justify-content: center;

}
.cookie-box-left{
    max-width: 40%;
}
.cookie-btn{
    background-color: #be0909;
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.5em 2em;
    border-radius: 0;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: fit-content;
    height: fit-content;
    border: 1px solid#be0909;
    margin-top:1em;
}


.cookie-btn:focus {
    outline: none;
}

.cookie-btn:hover {
    transition: 0.3s ease;
    background-color: #d40000;
    color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: none;
    text-decoration: none;
} */






/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #151515;
    width: 80%;
    margin: auto;
    border: 0.5px solid rgb(173, 173, 173);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7em 1.2em;
    transition: 0.3s;
    font-size: 1.6em;
    color: white;
    border: 0.5px solid #484848;
    width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #000000;

}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #000000;
}

.tab button:focus {
    outline: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 1.5em 1.5em;
    border: 0.5px solid #ccc;
    border-top: none;
    width: 80%;
    margin: auto;
}










@media screen and (min-width: 992px) {}

@media screen and (max-width: 992px) {

    .wrapper {
        padding: 5em 6em 5em 6em;
    }

    .box-one {
        padding-bottom: 5em;
    }

    .box-one h1 {
        font-size: 3.5em;
    }

    .box-films h1 {
        font-size: 3.5em;
    }

    .select-genre {
        font-size: 1.4em;
        margin-top: 0;
        padding: 0.1em 0.2em;
    }

    .form {
        width: 80%;
    }



    .box-posts {
        display: grid;
        grid:
            'imgArea titleArea  '
            'imgArea mediaArea  '
            'imgArea commentArea '
            'imgArea usernameArea  '
            'imgArea .  '
            'imgArea btnArea ';

        column-gap: 3em;
        margin-top: 1em !important;
        margin-bottom: 7em !important;
        color: white;
        width: 80%;
        max-width: 100em;
        margin: auto;

    }

    /* profile */
    .profile {
        display: grid;
        grid-template-columns: 1fr;
        color: white;
        width: 80%;
        margin: auto;
    }

    .profile-picture {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid white;
    }


    /* profile */
    .profile-wrapper {
        display: block;
    }

    .profile-info {
        padding-top: 2em;
    }

    .profile-picture {
        height: 150px;
        width: 150px;
        object-fit: cover;
        background-repeat: no-repeat;
    }


}


@media only screen and (max-width: 992px) and (min-width: 772px) {}

@media screen and (max-width: 772px) {

    .wrapper {
        padding-top: 3em;
    }

    .login-wrapper {
        padding: 4em 0 10em 0;
    }

    .form-createpost select {
        font-size: 1.4em;
        width: 8em;
        height: 2em;
    }



    /*posts on index */

    .box-posts {
        display: grid;
        grid:
            'titleArea   '
            'mediaArea  '
            'imgArea   '
            'imgArea '
            'usernameArea '
            'commentArea '
            'btnArea';

        margin-top: 5em !important;
        margin-bottom: 8em !important;
        color: white;
        width: 80%;
        max-width: 100em;
        margin: auto;

    }

    .box-posts h1 {
        font-size: 2.2em;
        color: rgb(183, 183, 183);
        font-weight: 800;
    }

    .box-posts p {
        font-size: 1.4em;
        color: rgb(183, 183, 183);
    }

    .post-image {
        width: 200px;
        height: 300px;
        object-fit: cover;
        background-repeat: no-repeat;
        grid-area: imgArea;
    }

    .post-title {
        grid-area: titleArea;
    }

    .post-media {
        grid-area: mediaArea;
    }

    .post-comment {
        grid-area: commentArea;
    }

    .post-btn {
        grid-area: btnArea;
    }

    .post-username {
        grid-area: usernameArea;
        font-size: 1.2em !important;
        color: rgb(132, 132, 132) !important;
        margin-top: 1em;
    }


    /* profile */

    .profile-wrapper {
        text-align: center;
    }

    .profile-info {
        padding-top: 2em;
        text-align: left;
    }

    .profile-picture {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid white;
        object-fit: cover;
        background-repeat: no-repeat;
        grid-area: imgArea;
        margin-top: 1.5em;
    }

    .profile-wrapper h1 {
        font-size: 2.5em;
    }

    .profile-wrapper h2,
    .profile-wrapper p {
        font-size: 1.2em;
    }


}







/* 


.topnav {
    display: grid;
    grid:
        'one two three';
    grid-template-columns: 0.5fr 2fr 0.5fr;


    overflow: hidden;
    background-color: #000000;
    padding: 2em;
    visibility: visible;
}

.topnav-grid-box-one:nth-child(1) {
    grid-area: one;
}

.topnav-grid-box-two:nth-child(2) {
    grid-area: two;
}

.topnav-grid-box-three:nth-child(3) {
    grid-area: three;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.topnav .icon {
    display: none;
}

.drop {
    float: left;
    overflow: hidden;
}

.drop .dropbtn {
    font-size: 1.2em;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #090909;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 0.2px solid rgb(42, 42, 42);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(249, 249, 249);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.drop:hover .dropbtn {
    background-color: #0c0c0c;
    color: white;
    text-decoration: none;

}

.dropdown-content a:hover {
    background-color: #101010;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.drop:hover .dropdown-content {
    display: block;
}

.logo {
    color: #be0909 !important;
    text-shadow: 1px 1px 10px #be0909, 1px 1px 4px #be0909 !important;
    font-size: 2.5em !important;
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
}

#logo:hover {
    background-color: black !important;
}

.hr-nav {
    border: 0.2px solid rgb(225, 225, 225) !important;
    margin: 0;
}


@media screen and (max-width: 772px) {

    .topnav a,
    .drop .dropbtn {
        display: none;
    }

    #logo {
        display: block;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .dropdown-content {
        border: none;
        background-color: #000000;

    }

    .topnav.topnav.responsive {
        display: grid;

        grid:
            'one '
            'two'
            'three';

        grid-template-columns: 0.5fr 2fr 0.5fr;
        overflow: hidden;
        background-color: #000000;
    }



}

@media screen and (max-width: 772px) {


    .topnav.responsive {
        position: relative;

    }

    .topnav.responsive .icon {

        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        place-self: center;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .drop {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;

    }

    .topnav.responsive .drop .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    .icon {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        place-self: center;
    }

    .topnav.responsive #logo {
        place-self: center;
    }

} */









.navbar {
    background-color: black !important;
    font-size: 1.2em;
    padding: 1em !important;
}
.navbar a {
    padding: 0.5em 2em;

}

.navbar li {
    padding: 0.5em;
}

.navbar li a {
    color: white !important;
}

.navbar li a:hover {
    color: rgb(212, 212, 212) !important;
}

.navbar-nav li {
    padding-left: 1.5em;
}

.dropdown {
    padding-top: 0.7em;
}

.dropdown:focus {
    outline: none !important;
}

.dropdown button{
    background-color: black !important;
    border: none !important;
    font-size: 1em !important;
}

.dropdown-toggle span{
    color: white !important; 
}
.dropdown-toggle span:hover{
    color: rgb(205, 205, 205) !important;
}

.dropdown-menu {
    background-color: rgb(11, 11, 11) !important;
    color: white !important;
}

.dropdown-menu a {
    color: white !important;
    font-size: 1.2em;
}

.dropdown-menu a:hover {
    background-color: rgb(9, 9, 9) !important;
    color: rgb(205, 205, 205) !important;

}

.navbar-toggler {
    padding-right: 17% !important;
    width: 2em !important;
    border: none !important;
    color: white !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon {
    border-color: white;

}

.hr-navbar {
    border: 0.2px solid rgb(58, 58, 58) !important;
    margin: 0;
    display: block;
}

.hr-navbar-res {
    border: 0.2px solid rgb(225, 225, 225) !important;
    margin: 0;
    display: none;
}
.logo {
    color: #be0909 !important;
    text-shadow: 1px 1px 10px #be0909, 1px 1px 4px #be0909 !important;
    font-size: 2.5em !important;
    font-weight: 100;
    font-family: 'Great Vibes', cursive;
}
.logo:hover {
    text-decoration: none;
}
.vl {
    border-left: 1px solid white;
    height: 1.5em;
    margin-top: 1.25em;
    margin-left: 1em !important;
    padding-right: 1em;
  }


@media screen and (max-width: 992px) {

    .navbar {
        font-size: 1.6em;
        text-align: center;
    }

    .dropdown-menu a {
        text-align: center;
    }

    .hr-navbar {
        display: none !important;
    }

    .dropdown-menu a {
        padding: 0.6em;
        font-size: 1.2em;
    }

    .hr-navbar-res {
        border: 0.2px solid rgb(225, 225, 225) !important;
        margin: 0;
        display: block;
        width: 25%;
        margin: auto;
        margin-top: 1em;
    }
    .square{
        margin-top: 1em;
    }
    .logo {
        color: #be0909 !important;
        text-shadow: 1px 1px 10px #be0909, 1px 1px 4px #be0909 !important;
        font-size: 2em !important;
        font-weight: 100;
        font-family: 'Great Vibes', cursive;
    }
    .vl {
        display:none;
      }
      .sticky-createpost{
        display: none;
    }
}